.login-form {
  padding: 20px;
}

.login {
  &__row {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    fieldset {
      padding: 15px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 10px;
      legend {
        padding: 0 15px;
      }
    }
  }
  &__col {
    padding: 20px;
  }
  &__bottom {
    text-align: center;
  }
}
