.book-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__image {
    margin-top: 10px;
    width: 200px;
    border: 1px solid #ddd;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
